<p>
  <b>Description:</b>
  <%=h @black.description %>
  <br />
  <%=h @black.boxofshit_file_name %>
  <br />
  <%=h @black.tag_list %>
</p>


<%= link_to 'Edit', edit_black_path(@black) %> |
<%= link_to 'Back', blacks_path %>